In [8]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_excel("Boston Housing Dataset 1978.xlsx")

In [14]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [16]:
import statsmodels.api as sm

In [18]:
X_rm = data["RM"].values.reshape(-1, 1)
X_lstat = data["LSTAT"].values.reshape(-1, 1)

In [22]:
unos = np.ones((len(data), 1))
RM_LSTAT   = (data["RM"] * data["LSTAT"]).values.reshape(-1, 1)

X = np.column_stack((unos, X_rm, X_lstat, RM_LSTAT))
Y = data["MEDV"].values

ols = sm.OLS(Y, X)
results = ols.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                         nan
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Mon, 01 Sep 2025   Prob (F-statistic):                nan
Time:                        16:29:17   Log-Likelihood:                    nan
No. Observations:                 506   AIC:                               nan
Df Residuals:                     502   BIC:                               nan
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const             nan        nan        nan        nan         nan         nan
x1                nan        nan        nan        nan         nan         nan
x2                nan        nan        nan        nan         nan         nan
x3                nan        nan        nan        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                     nan
Prob(Omnibus):                    nan   Jarque-Bera (JB):                  nan
Skew:                             nan   Prob(JB):                          nan
Kurtosis:                         nan   Cond. No.                     1.04e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.04e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [24]:
data.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [26]:
data.tail(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [28]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,452.000000
mean,1.269195,13.295257,9.205158,0.140765,1.101175,15.679800,58.744660,6.173308,78.063241,339.317787,42.614980,332.791107,11.537806,23.750442
std,2.399207,23.048697,7.169630,0.312765,1.646991,27.220206,33.104049,6.476435,203.542157,180.670077,87.585243,125.322456,6.064932,8.808602
min,0.000000,0.000000,0.000000,0.000000,0.385000,3.561000,1.137000,1.129600,1.000000,20.200000,2.600000,0.320000,1.730000,6.300000
25%,0.049443,0.000000,3.440000,0.000000,0.449000,5.961500,32.000000,2.430575,4.000000,254.000000,17.000000,364.995000,6.877500,18.500000
50%,0.144655,0.000000,6.960000,0.000000,0.538000,6.322500,65.250000,3.925850,5.000000,307.000000,18.900000,390.660000,10.380000,21.950000
75%,0.819623,18.100000,18.100000,0.000000,0.647000,6.949000,89.975000,6.332075,24.000000,403.000000,20.200000,395.615000,15.015000,26.600000
max,9.966540,100.000000,27.740000,1.000000,7.313000,100.000000,100.000000,24.000000,666.000000,711.000000,396.900000,396.900000,34.410000,50.000000

In [60]:
data_z = data.dropna()

In [62]:
data_z

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [70]:
X_rm = data_z["RM"].values.reshape(-1, 1)
X_lstat = data_z["LSTAT"].values.reshape(-1, 1)
RM_LSTAT = (data_z["RM"] * data_z["LSTAT"]).values.reshape(-1, 1)
unos = np.ones((len(data_z), 1))

X = np.column_stack((unos, X_rm, X_lstat, RM_LSTAT))
y = data_z["MEDV"].values

results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.729
Model:                            OLS   Adj. R-squared:                  0.727
Method:                 Least Squares   F-statistic:                     401.0
Date:                Mon, 01 Sep 2025   Prob (F-statistic):          1.85e-126
Time:                        17:09:09   Log-Likelihood:                -1329.5
No. Observations:                 452   AIC:                             2667.
Df Residuals:                     448   BIC:                             2683.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -37.0168      3.748     -9.877      0.000     -44.382     -29.652
x1            10.8700      0.564     19.279      0.000       9.762      11.978
x2             3.0619      0.328      9.348      0.000       2.418       3.706
x3            -0.6166      0.055    -11.228      0.000      -0.725      -0.509
==============================================================================
Omnibus:                      245.872   Durbin-Watson:                   1.014
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3575.663
Skew:                           1.997   Prob(JB):                         0.00
Kurtosis:                      16.187   Cond. No.                     1.39e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.39e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [72]:
results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.729
Model:                            OLS   Adj. R-squared:                  0.727
Method:                 Least Squares   F-statistic:                     401.0
Date:                Mon, 01 Sep 2025   Prob (F-statistic):          1.85e-126
Time:                        17:09:19   Log-Likelihood:                -1329.5
No. Observations:                 452   AIC:                             2667.
Df Residuals:                     448   BIC:                             2683.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -37.0168      3.748     -9.877      0.000     -44.382     -29.652
x1            10.8700      0.564     19.279      0.000       9.762      11.978
x2             3.0619      0.328      9.348      0.000       2.418       3.706
x3            -0.6166      0.055    -11.228      0.000      -0.725      -0.509
==============================================================================
Omnibus:                      245.872   Durbin-Watson:                   1.014
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3575.663
Skew:                           1.997   Prob(JB):                         0.00
Kurtosis:                      16.187   Cond. No.                     1.39e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.39e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [74]:
data_z.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000
mean,1.420825,12.721239,10.304889,0.077434,0.540816,6.343538,65.557965,4.043570,7.823009,377.442478,18.247124,369.826504,11.441881,23.750442
std,2.495894,24.326032,6.797103,0.267574,0.113816,0.666808,28.127025,2.090492,7.543494,151.327573,2.200064,68.554439,6.156437,8.808602
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,6.300000
25%,0.069875,0.000000,4.930000,0.000000,0.447000,5.926750,40.950000,2.354750,4.000000,276.750000,16.800000,377.717500,6.587500,18.500000
50%,0.191030,0.000000,8.140000,0.000000,0.519000,6.229000,71.800000,3.550400,5.000000,307.000000,18.600000,392.080000,10.250000,21.950000
75%,1.211460,20.000000,18.100000,0.000000,0.605000,6.635000,91.625000,5.401100,7.000000,411.000000,20.200000,396.157500,15.105000,26.600000
max,9.966540,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,34.410000,50.000000

In [84]:
df = data_z.copy()

for col in df.columns:
    if col == "MEDV":
        continue  

    x = df[col].to_numpy(dtype=float)

    x_min = np.min(x)
    x_max = np.max(x)
    aux = x - x_min

    rng = x_max - x_min
    if rng == 0:
        aux = np.zeros_like(x)      
    else:
        aux = aux / rng

    aux = np.clip(aux, 0.0, 1.0)

    df[col] = aux

df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.099449,24.0
1,0.002107,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.226744,21.6
2,0.002105,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.070379,34.7
3,0.002615,0.00,0.063050,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994276,0.037026,33.4
4,0.006298,0.00,0.063050,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.066794,0.648936,1.000000,0.110159,36.2

In [90]:
X_rm = df["RM"].values.reshape(-1, 1)
X_lstat  = df["LSTAT"].values.reshape(-1, 1)
RM_LSTAT = (df["RM"] * df["LSTAT"]).values.reshape(-1, 1)
unos     = np.ones((len(df), 1))

X = np.column_stack((unos, X_rm, X_lstat, RM_LSTAT))
y = df["MEDV"].values

ols = sm.OLS(y, X)              
results = ols.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.729
Model:                            OLS   Adj. R-squared:                  0.727
Method:                 Least Squares   F-statistic:                     401.0
Date:                Mon, 01 Sep 2025   Prob (F-statistic):          1.85e-126
Time:                        17:42:48   Log-Likelihood:                -1329.5
No. Observations:                 452   AIC:                             2667.
Df Residuals:                     448   BIC:                             2683.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.1897      1.626      1.962      0.050      -0.005       6.384
x1            51.1633      2.626     19.481      0.000      46.002      56.325
x2            28.3058      4.457      6.351      0.000      19.547      37.065
x3          -105.1671      9.366    -11.228      0.000    -123.575     -86.759
==============================================================================
Omnibus:                      245.872   Durbin-Watson:                   1.014
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3575.663
Skew:                           1.997   Prob(JB):                         0.00
Kurtosis:                      16.187   Cond. No.                         57.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.